//! add colors from the design
$white: #ffffff;
$bright-gray: #ebebeb;
$eton-blue: #84d69b;
$black: #000000;
$arsenic: #434343;
$azure: #007cef;
$anti-flash-white: #f4f1f4;
$philippine-gray: #8c8c8c;
$red: #ff0000;
